@{
    ViewBag.Title = "Students";
}

<head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/Content/ng-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/youjuku/grid.css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ng-grid.min.js"></script>
    <script type="text/javascript" src="~/Scripts/youjuku/grid.js"></script>
</head>

<div ng-app="gridApp">
    <div ng-controller="gridController">
        <div class="grid" ng-grid="gridOptions"></div>
    </div>
</div>

@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-aria.min.js"></script>
<script src="~/Scripts/angular-messages.min.js"></script>
<script src="~/Scripts/angular-material/angular-material.min.js"></script>
<script src="~/Scripts/youjuku/tabs.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ng-grid.min.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="~/Content/ng-grid.min.css" />*@
@*@Styles.Render("~/bundles/tabs")*@
@*@Scripts.Render("~/bundles/angular")*@

@*<div class="container" ng-app="myApp">
    <h3>Tabs</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Home</a></li>
        <li>
            <a href="#">Menu 1</a>
            <div ng-controller="MyCtrl">
                <div class="grid" ng-grid="gridOptions"></div>
            </div>
        </li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
    </ul>
</div>*@

@*<div ng-controller="tabController" class="tabs" layout="column" ng-cloak="" ng-app="tab">
    <md-content class="md-padding">
        <md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                <div class="tab{{$index}}" style="padding: 25px; text-align:center;">
                    <div ng-bind="tab.content"></div>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>*@