@model DHTMLX.Scheduler.DHXScheduler

@{
    ViewBag.Title = "Schedule";
}
@Scripts.Render("~/bundles/scheduler")
@section scripts{
    @Html.Raw(Model.GenerateLinks())
    <script>
        @Html.Raw(Model.GenerateJSCode())
    </script>
}

<div class="calendar-container">
    @Html.Raw(Model.GenerateMarkup())
</div>